html {
  font-family: Lato, sans-serif;
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  place-items: center; /* Center the children both horizontally and vertically */
  grid-template-columns: repeat(2, 1fr); /* Two equal sized columns */
  grid-template-rows: repeat(2, 1fr); /* Two equal sized rows */
  column-gap: 33%; /* 33% of 800px is the gap between the columns */
  width: 800px; /* Match the width of the image */
  height: 352px; /* Match the height of the image */
  background: url("bg.jpg"); /* Our image */
}

/* Style each child individually here */

.team1-name {
  font-size: 2em;
}

.team2-name {
  font-size: 2em;
}

.team1-score {
  font-size: 2.7em;
}

.team2-score {
  font-size: 2.7em;
}
