<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pawngrubber's Rapid League</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <h2 class="team1-name">{{ team_1_name }}</h2>
      <h2 class="team2-name">{{ team_2_name }}</h2>

      <h2 class="team1-score">{{ team_1_score }}</h2>
      <h2 class="team2-score">{{ team_2_score }}</h2>
    </div>
  </body>
</html>
